@mixin button {
  border: 0;
  padding: 8px 20px;
  font-size: 14px;
  color: $polar--light;
  border-radius: var(--radius);
  background-color: $background-color--light;
  outline: 0;
  box-shadow: inset 0 0 0 1px darken($background-color--dark, 10%);

  &.general {
    color: #fff;
    background-color: $polar--light;
    box-shadow: none;
  }
}

@mixin text-input {
  font-size: 16px;
  padding: 6px 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}