@mixin button {
  border: 0;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: var(--radius);
  background-color: #E4ECF6;
  box-shadow: 5px 5px 10px var(--shadow-color), 1px 1px 2px var(--shadow-color), -6px -6px 15px rgba(255,255,255,0.9), -1px -1px 3px 1px rgba(255,255,255,0.9);
  outline: 0;
}

@mixin text-input {
  font-size: 16px;
  padding: 6px 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}